Repository ER-climate-monitor/er-climate-monitor, changes with the labels that .github/labeler.yml gives for each.
All labels: ApiGateway, AuthenticationService, DetectinService, NotificationService, SensorRegistry, Frontend, Sensors

.github/labeler.yml:

ApiGateway:
- changed-files:
    - any-glob-to-any-file: 'api-gateway/**'

AuthenticationService:
- changed-files:
  - any-glob-to-any-file: 'authentication-service/**'

DetectinService:
- changed-files:
  - any-glob-to-any-file: 'detection-service/**'

NotificationService:
- changed-files:
  - any-glob-to-any-file: 'notification-service/**'

SensorRegistry:
- changed-files:
  - any-glob-to-any-file: 'sensor-registry/**'

Frontend:
- changed-files:
  - any-glob-to-any-file: 'er-climate-monitor-frontend/**'

Sensors:
- changed-files:
  - any-glob-to-any-file: 'er-climate-monitor-sensors/**'

Documentation:
- base-branch: 'docs'

feat(doc): add circuit breaker pattern, add the circuit breaker technology inside the api tech
  docs/3-design.md
Labels: none

build: proper use new repo owner
  package.json
Labels: none

feat(doc): update the service builder link
  docs/4-devops.md
Labels: none

feat(doc): add GKE inside the conclusion
  docs/6-conclusions.md
Labels: none

chore(doc): move licensing and versioning inside deployment, add more info regarding quality assurance
  docs/4-devops.md
  docs/5-deployment.md
Labels: none

feat(doc): add more doc
  docs/4-devops.md
  docs/5-deployment.md
Labels: none

chore: add stuff about DSL
  docs/3-design.md
Labels: none

fix: use MD codeblock instead of fancy LaTeX
  docs/3-design.md
Labels: none

chore: add mapping fro DDD to microservices
  docs/3-design.md
Labels: none

feat(doc): add more info regarding CD
  docs/5-deployment.md
Labels: none

feat(doc): introduce CI
  docs/5-deployment.md
Labels: none

fix: grammar
  docs/4-devops.md
Labels: none

ffeat(doc): add things
  docs/4-devops.md
Labels: none

feat: add spaces
  docs/5-deployment.md
Labels: none

feat(doc): add automatic labelling part
  docs/5-deployment.md
Labels: none

docs: add doc for frontend CI
  docs/5-deployment.md
Labels: none

docs: edit ci docs
  docs/5-deployment.md
Labels: none

refactor(doc): improve GCP chapter
  docs/5-deployment.md
Labels: none

feat(img): add terrible use case image
  docs/images/usecases.drawio.png
Labels: none

feat(doc): add use case image
  docs/2-analysis.md
Labels: none

feat(db): add new connection string
  sensor-registry/Dockerfile
Labels: SensorRegistry

feat(db): update notification service db
  notification-service/Dockerfile
Labels: NotificationService

feat(db): update detection service db
  detection-service/Dockerfile
Labels: DetectinService

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  df98905391ffb110ef1e9c4ae7849bd265cfa609
Labels: none

feat(img): add final gcp architecture
  docs/images/gcp_final_arch.drawio.png
Labels: none

feat(doc): add new image
  docs/5-deployment.md
Labels: none

fix: fix sentence
  docs/3-design.md
Labels: none

fix(semantic-release): fix repo url
  api-gateway/.releaserc.json
  authentication-service/.releaserc.json
  detection-service/.releaserc.json
  notification-service/.releaserc.json
  sensor-registry/.releaserc.json
Labels: ApiGateway, AuthenticationService, DetectinService, NotificationService, SensorRegistry

Notes added by 'git notes add'
  3c65957aee912598eddb21f5f27497950626b761
Labels: none

feat(img): add new gcp image
  docs/images/gcp_final_arch.drawio.png
Labels: none

build: use `semantic-release-monorepo` for deploying on npm
  api-gateway/.releaserc.json
  api-gateway/package.json
  authentication-service/.releaserc.json
  authentication-service/package.json
  detection-service/.releaserc.json
  detection-service/package.json
  notification-service/.releaserc.json
  notification-service/package.json
  sensor-registry/.releaserc.json
  sensor-registry/package.json
Labels: ApiGateway, AuthenticationService, DetectinService, NotificationService, SensorRegistry

fix(ci): properly detect changes and release on npm only changed services
  .github/workflows/npm-sem-release.yml
Labels: none

chore(release): 2.1.2 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  e666325dc0107562436aca8e93e32fd43f4a1202
Labels: none

fix(ci): properly use workflow compliant checks :')
  .github/workflows/npm-sem-release.yml
Labels: none

chore(release): 2.1.3 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  ce972ba9cd399d27044fbc1012af8653e72fbec4
Labels: none

refactor: useless refactor just to trigger npm publish
  api-gateway/.releaserc.json
  authentication-service/.releaserc.json
  detection-service/.releaserc.json
  notification-service/.releaserc.json
  sensor-registry/.releaserc.json
Labels: ApiGateway, AuthenticationService, DetectinService, NotificationService, SensorRegistry

fix(ci): properly configure plugins for `semantic-release-monorepo`
  api-gateway/.releaserc.json
  api-gateway/package.json
  authentication-service/.releaserc.json
  authentication-service/package.json
  detection-service/.releaserc.json
  detection-service/package.json
  notification-service/.releaserc.json
  notification-service/package.json
  sensor-registry/.releaserc.json
  sensor-registry/package.json
Labels: ApiGateway, AuthenticationService, DetectinService, NotificationService, SensorRegistry
