Repository ER-climate-monitor/er-climate-monitor, changes with the labels that .github/labeler.yml gives for each.
All labels: api-gateway, authentication-service, detection-service, notification-service, sensor-registry, frontend, sensors

feat(deploy): add api-gateway
  .github/workflows/deploy.yml
Labels: none

refactor(deploy): set the port to 8080
  api-gateway/Dockerfile
  authentication-service/Dockerfile
  detection-service/Dockerfile
  sensor-registry/Dockerfile
Labels: api-gateway, authentication-service, detection-service, sensor-registry

fix(detection-service): adapt to deps major versions updates
  detection-service/src/server.ts
  detection-service/test/integration/GetDetectionFromSensor.test.ts
  detection-service/test/integration/GetSensorLocationsByType.test.ts
  detection-service/test/integration/SaveDetection.test.ts
  detection-service/test/integration/utils/mockData.ts
Labels: detection-service

Notes added by 'git notes add'
  8f4faf178b742eda81d643844872897642d10fc5
Labels: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Labels: none

feat(ci): create array of tuples
  .github/workflows/deploy.yml
Labels: none

fix: ampq variable name
  detection-service/Dockerfile
  detection-service/src/controllers/v0/utils/brokerClient.ts
Labels: detection-service

feat: use correct port
  detection-service/src/index.ts
Labels: detection-service

chore(deps): revert express version
  detection-service/package.json
Labels: detection-service

ci(release): publish individual services on NPM
  .github/workflows/npm-sem-release.yml
  api-gateway/.releaserc.json
  api-gateway/package.json
  authentication-service/.releaserc.json
  authentication-service/package.json
  detection-service/.releaserc.json
  detection-service/package.json
  notification-service/.releaserc.json
  notification-service/package.json
  sensor-registry/.releaserc.json
  sensor-registry/package.json
Labels: api-gateway, authentication-service, detection-service, notification-service, sensor-registry

refactor(detection-service): fix linter errors
  detection-service/src/controllers/v0/utils/brokerClient.ts
Labels: detection-service

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  a8c0fe219c9fdaebd532649c9cc1c1d0d6c9dceb
Labels: none

chore(deps): downgrade to express (they've changed wildcard interpretation in v5 😳)
  api-gateway/package.json
  authentication-service/package.json
  sensor-registry/package.json
Labels: api-gateway, authentication-service, sensor-registry

chore(ci): add permissions to worflow
  .github/workflows/npm-sem-release.yml
Labels: none

refactor: remove unused import
  api-gateway/src/models/v0/serviceModels.ts
Labels: api-gateway

feat(cors): allow any origin
  detection-service/src/sockets/socket.ts
Labels: detection-service

feat: get http server and use it for the socket creation
  detection-service/src/index.ts
Labels: detection-service

fix(ci): remove socket service. Use the single detection service for both operations
  .github/workflows/deploy.yml
Labels: none

fix(ci): remove .env opening
  .github/workflows/deploy.yml
Labels: none

feat(log): add more log info
  api-gateway/src/controllers/v0/domain/authentication/authenticationPostController.ts
Labels: api-gateway

feat(log): add more log
  authentication-service/src/controllers/v0/userController.ts
Labels: authentication-service, sensor-registry

.github/labeler.yml:

api-gateway:
  - 'api-gateway/**'
authentication-service:
  - 'authentication-service/**'
detection-service:
  - 'detection-service/**'
notification-service:
  - 'notification-service/**'
sensor-registry:
  - 'authentication-service/**'
frontend:
  - 'er-climate-monitor-frontend/**'
sensors:
  - 'er-climate-monitor-sensors/**'
